[run]
source =
    .
    core
    main.py
omit =
    */tests/*
    */test_*.py
    tests/*
    */venv/*
    setup.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError

[paths]
source =
    .
    backend/
